.Qsound__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1px 1rem;
}

.Qsound__navbar-links {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.Qsound__navbar-links_logo {
    margin-right: 2rem;

}

.Qsound__navbar-links_logo img {
    width: 150;
    height: 70;

}

.Qsound__navbar-links_container {
    display: flex;
    flex-direction: row;
    margin: auto;

}

.Qsound__navbar-sign {
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.Qsound__navbar-links_container p,
.Qsound__navbar-sign p,
.Qsound__navbar-menu_container p {

    color: var(--color-text);
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;

    margin: 0 1rem;
    cursor: pointer;

}

.Qsound__navbar-sign button,
.Qsound__navbar-menu_container button {

    padding: 0.5rem 1rem;

    font-family: var(--font-family);
    font-weight: 500;


    background: #696969;
    border-radius: 15px;
    border: 1px;
    outline: none;
    cursor: pointer;
}

.Qsound__navbar-menu {
    margin-left: 1rem;

    display: none;
    position: relative;
}

.Qsound__navbar-menu {
    cursor: pointer;
}

.Qsound__navbar-menu_container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;

    text-align: end;
    background: var(--color-footer);
    padding: 2rem;
    position: absolute;
    top: 40px;
    right: 0;
    margin-top: 1rem;
    min-width: 210px;
    border-radius: 15px;
    box-shadow: 0 0 5 rgba(0, 0, 0, 0.2);
}

.Qsound__navbar-menu_container p {
    margin: 1rem 0;
}

.Qsound__navbar-menu_container-links-sign {
    display: none;
}

@media screen and (max-width: 1050px) {
    .Qsound__navbar-links_container {
        display: none;
    }

    .Qsound__navbar-menu {
        display: flex;

    }

    .Qsound__navbar-menu_container {

        justify-content: flex-start;
        align-items: flex-start;

    }

}

@media screen and (max-width: 700px) {
    .Qsound__navbar-menu {
        padding: 2rem 4rem;

    }
}

@media screen and (max-width: 550px) {
    .Qsound__navbar-menu {
        padding: 0;

    }

    .Qsound__navbar-sign{
        display: none;
    }

    .Qsound__navbar-menu_container {
        top: 40px;
    }

    .Qsound__navbar-menu_container-links-sign {
        display: block;
    }
}
